<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                6년이라는 시간을 한결같이 사랑하며,<br>
                곁에서 힘이 되어주는 든든한 사람을 만났습니다.<br>
                이제 그 사람과 두 손 꼭 잡고<br>
                향기로운 인생의 길을 걸어가려 합니다<br>
                부부로써 내딛는 그 첫걸음의 자리에 오셔서<br>
                함께 축복해주세요.<br>
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                 오시는 길<p>
            서울특별시 강남구 언주로 508 (우)06152<p>
            상록아트홀 L층 그랜드볼룸홀
            </p>
        </div>
    </div>
</section>
