<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>
        <div class="col-md-12">
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
            <script src="https://snapwidget.com/js/snapwidget.js"></script>
            <!-- SnapWidget -->

            <!-- iframe src="https://snapwidget.com/embed/658530" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:400px; height:330px" --></iframe>
            <!-- div style="font:10px/14px 'Roboto','Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:400;width:495px;text-align:right"><a href="https://snapwidget.com" style="color:#777;text-decoration:none;" --></a></div>
      </div>
    </div>
</section>
